@font-face {
    font-family: MatchupPro;
    src: url(MatchupPro.woff);
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


p {
    /* font-family: 'VT323', monospace; */
    font-family: 'MatchupPro', sans-serif;
}


/* canvas style */
.game{
    height: auto;
    display: flex;
    justify-content: center;
}
canvas{
    /* border: 2px solid red; */
    background-image: url("../img/bg_space_seamless_1.png");
    /* height: 90vh;
      width: 70vh; */
    margin: auto;
}


#gameover{
    position: absolute;
    height: 90vh;
      width: 70vh;
    display: none;
    background: rgba(23, 32, 119, 0.2); 
    backdrop-filter: blur(8px);
   
}

/* #lost{
    position: absolute;
    height: 20vh;
    width: 500vh;    
    top: 20vh;
    margin-left: 10vh;
    display: none;
} */
.game-over{
    position: absolute;
    top: 25vh;
    margin-left: 15vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 8vh;
    color: red;
}
.score{
    position: absolute;
    top: 50vh;
    margin-left: 15vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 8vh;
    color: red;
}
#restart{
    position: absolute;
    top: 40vh;
    margin-left: 30vh;
    height: 10vh;
    width: 10vh;  
    border-radius: 100%;
    /* cursor: pointer; */
}
