@font-face {
    font-family: MatchupPro;
    src: url(MatchupPro.woff);
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


p {
    /* font-family: 'VT323', monospace; */
    font-family: 'MatchupPro', sans-serif;
}


/* canvas style */
.game{
    height: auto;
    display: flex;
    justify-content: center;
}
canvas{
    /* border: 2px solid red; */
    background-image: url("../img/bg_space_seamless_1.png");
    /* height: 100vh;
      width: 80vh; */
    margin: auto;
}


#gameover{
    position: absolute;
    height: 100vh;
      width: 80vh;
    display: none;
    background: rgba(23, 32, 119, 0.2); 
    backdrop-filter: blur(8px);
   
}

/* #lost{
    position: absolute;
    height: 90vh;
    width: 80vh;   
    display: none;
    opacity: 50%;
} */
.para{
    position: absolute;
    top: 20vh;
    margin-left: 10vh;
    font-family: 'MatchupPro', sans-serif;
    font-size: 16vh;
    color: red;
}
.score{
    position: absolute;
    top: 55vh;
    margin-left: 22vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 8vh;
    color: red;
}
#restart{
    position: absolute;
    top: 40vh;
    margin-left: 35vh;
    height: 10vh;
    width: 10vh;  
    border-radius: 100%;
    /* cursor: pointer; */
}
#start{
    position: absolute;
    top: 15vh;
    height: 30vh;
    width: 30vh;  
    border-radius: 100%;
}
#continue{
    position: absolute;
    top: 60vh;
    margin-left: 35vh;
    height: 10vh;
    width: 10vh;  
    border-radius: 100%;
}
#LevelUp{
    position: absolute;
    height: 100vh;
      width: 80vh;
    display: none;
}
#win{
    top: 10vh;
    position: absolute;
    height: 40vh;
      width: 80vh;
      margin-left: 30;
}