@font-face {
    font-family: MatchupPro;
    src: url(MatchupPro.woff);
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    /* font-family: 'VT323', monospace; */
    font-family: 'MatchupPro', sans-serif;
}

/* canvas style */
.game{
    height: auto;
    display: flex;
    justify-content: center;
}
canvas{
    /* border: 2px solid red; */
    background-image: url("../img/bg_space_seamless_1.png");
}
/*     font-family: 'Ndot-55', 'NType82Mono' !important; */